@page
@model IndexModel
@{
    ViewData["Title"] = "INICIO";
}
<div class="text-center">
<style>
  h1 {

font-family: Jazz Music;

}
</style>
    <h1 class="display-4">JJS MUSIC</h1>
    <marquee  behavior="scroll" direction="left">  
    <h1><p>LA MUSICA ES EL FUTURO</p></h1>
    </marquee>  
    <h2><strong><p>Surtiendo las partys con los mejores temas <a href="https://localhost:7057/Movies">NUESTRA LISTA DE CANCIONES</a>.</p></strong></h2>     
        <center><img src="https://eltop.com.mx/wp-content/uploads/2020/09/servicios-de-streaming-de-mu%CC%81sica.jpg" width="500" height="250" alt="Imagen De Muestra"></center> 

</div>

