@page
@model PrivacyModel
@{
    ViewData["Title"] = "POLITICAS DE COPYRIGHT";
}
<center><h1>@ViewData["Title"]</h1></center>

<center><p>Joa nos van a tumbar la pagina por no pagar el copyright</p></center>
<center><img src="https://diegocadogan.files.wordpress.com/2013/03/copyright.jpg" width="250" height="250" alt="Imagen De Muestra"></center> 

